/* body style */
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


/* header style */
header {
    background-image: url('../images/im3.jpg'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/* banner style */
.banner {

    text-align: center;
    padding: 20px 300px;
    margin-top: 80px;
    margin-bottom: 100px;

}

.banner-title {
    font-size: 58px;
    font-weight: 700px;
    color: #FFFFFF;
}

.banner-detail {
    font-size: 22px;
    font-weight: 500px;
    color: #FFFFFF;
    margin-bottom: 40px;

}

/* button style */
.btn-red {
    background-color: rgb(253, 123, 17);
    padding: 8px 15px;
    font-size: 25px;
    font-weight: 500px;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 100px;

}
.btn-primary{
    background-color: rgb(253, 123, 17);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500px;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 10px;

}

/* Navber style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 400;

}

a:hover {
    background-color: orange;
    padding: 3px;

}

/* about style */
.about {
    text-align: center;
    padding: 20px 200px;
    margin-bottom: 100px;
}

.about-title {
    font-size: 38px;
    font-weight: 700px;

}

.about-detail {
    font-size: 22px;
    font-weight: 500px;
    color: #757575;
    text-align: left;

}

/* benefit style */
.benefit {
    display: flex;
    align-items: center;
    padding: 20px 150px;
    margin-bottom: 100px;
}

.benefit-image {
    width: 50%;
    margin-right: 70px;

}

.benefit-text {
    width: 50%;
    margin-top: 30px;

}

.benefit-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.benefit-detail {
    font-weight: 400;
    font-size: 20px;
    color: #444343;
}
/* product-header style */
.product-header{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

/* Product container */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 80px;
}

.food{
    border: 1px solid #444343;
    border-radius: 8px;

}
.food img{
    width: 75%;
}
.footer-description{
    padding: 20px;
}
.food-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.food-detail{
    font-weight: 400;
    font-size: 20px;
    color: #444343;
}
/* overflow style */
.overflow{
    /* border: 1px solid red; */
    padding: 20px 130px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;

}
.overflow-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}
.short-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.mini-mini{
    width: 150px;
    /* border: 3px solid rgb(238, 127, 17); */
    overflow: hidden;
}

/* Cricket ball and bat style */

.fileds{
    padding: 20px 130px;
    margin-bottom: 90px;
    margin-top: 180px;
   
    

}
.filed {
    border: 0px solid rebeccapurple;
    padding: 10px 40px;
    background-image: url('../images/field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;

}

.filed:hover .bat {
    transform: rotate(-20deg);
    transform-origin: top right;
   

}
.filed img{
    width: 50%;
}

.bat {
    transition: transform 0.2s ease-in;
}

.filed:hover .balls {
    transform: translate(900px, -80px);
}

.balls {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left: 220px;
 
    transition: transform 1s ease-out 0.2s;
}

/* ball running style */
@keyframes sliding {
    0%{
        background-color: limegreen;
        left: 0;
        top: 0;
        transform: scale(1);

       

    }
    25%{
        top: 325px;
        background-color: yellow;
        transform: scale(0.5);

    }
    50%{
        top: 0;
        background-color: red;
        transform: scale(1);

        

    }
    75%{
        top: 325px;
        background-color: blue;
        transform: scale(0.6);
    }
    100%{
        background-color: magenta;
        left: 860px;
        top: 0;
    }
}
.stage{
    width: 960px;
    height: 400px;
    background-image: url('../images/im2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 130px;

}
.ball{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 50px;
    animation: sliding 2s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
    position: relative;
    
}

/* Calender part*/
.year{
    padding: 20px 130px;

}
.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    

}
.calender-detail{
    font-weight: 400;
    font-size: 30px;
    color: #444343;

}

.date {
    background-color: skyblue;
    height: 75px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}

.day {
    background-color: goldenrod;
    height: 55px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}
.other-month{
    background-color: lightcyan;
}
















/* footer style */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151414;
}

.footer-text {
    color: #FFFFFF;
    padding: 30px 100px;
    width: 50%;

}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    
}

.footer-detail {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-image img{
    padding-right: 10px;
    margin-top: 20px;
}
.footer-subscript{
    font-weight: 700;
    font-size: 35px;
    color: #F8F8F8;
    margin-top: 50px;

}
input{
    padding: 10px 40px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}