/* body style */
body{
    margin: 0 auto;
}


/* header style */
header{
    background-image: url('../images/Home2.jpeg'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
/* banner style */
.banner{
   
    text-align: center;
    padding: 20px 300px;
    margin-top: 80px;
    
}
.banner-title{
    font-size: 68px;
    font-weight: 700px;
    color: #FFFFFF;
}
.banner-detail{
    font-size: 22px;
    font-weight: 500px;
    color: #FFFFFF;
    margin-bottom: 40px;

}

/* button style */
.btn-red{
    background-color: rgb(253, 123, 17);
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700px;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 100px;

}
/* Navber style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 30px;
    font-weight: 400;

}
 a:hover{
    background-color: orange;
    padding:  5px;
    

}